<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <link rel="stylesheet" href="./styles/style2.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
    <title>UTN autos</title>

</head>
<body id="body">
    <header class="encabezado">
        <img class="logo" src="./styles/logo.svg" alt="logo de concesionaria">
        <a class="publicar" id="publik" href="./PublicarGratis.html">Publica Gratis</a>
        <nav class="navbar">
            <a class="na" href="./index.html">INICIO</a>
            <a class="na" href="./vermas.html">ANUNCIOS</a>
            <a class="na" href="./Planes.html">PLANES</a>
            <a class="na" href="./Contacto.html">CONTACTO</a>
            <a class="na" href="./IniciarSesion.html">INICIAR SESION</a>
            <a class="na" href="./SobreNosotros.html">SOBRE NOSOTROS</a>
  </nav>
    </header>

    <main>
    <div id="TituloAuto"><br>
        <strong><h1>Selección del Vehículo</h1></strong>
    </div><br>
        <section >
     <div id="primero">  
          
    <form action="" id="FormAutos">
        <select >
            <option value="none">Seleccione la marca</option>
            <option value="Chevrolet">Chevrolet</option>
            <option value="Peugeot">Peugeot</option>
            <option value="Renault">Renault</option>
            <option value="Ford">Ford</option>
            <option value="Audi">Audi</option>
       </select>
    
       <select id="Modelo">
        <option value="none">seleccione el modelo</option>
        <option value="corsa">Corsa</option>
        <option value="Megane">Megane</option>
        <option value="Focus">Focus</option>
        <option value="A3">A3</option>
        <option value="A5">A5</option>
        <option value="207">207</option>
        <option value="Partner">Partner</option>
        <option value="Cruce">Cruce</option>

       </select>

       <select id="Condicion">
    <option value="none">Elegir Condicion</option>
    <option value="Nuevo">Nuevo</option>
    <option value="Usado">Usado</option>
       </select>

       <select id="Combustible">
        <option value="none">Elegir Combustible</option>
        <option value="Diesel">Diesel</option>
        <option value="GNC">GNC</option>
        <option value="Hibrido">Hibrido</option>
        <option value="Nafta">Nafta</option>
       </select>

       <select id="Transmision">
        <option value="none">Elegir Transmision</option>
        <option value="Automatica">Automatica</option>
        <option value="Manual">Manual</option>
       </select>
    </form>
        </section>
    </div> 

        <section class="productos" id="ContainerAutos">

         </section> 
         <div class="vermas">
         <a href="./vermas.html" class="vermas">Ver más</a>
        </div><br>
    
    </main> 

    <footer class="footer">
       
        <h4 class="redes">Redes </h4> 
        <div class="footerContainer">
        <ul class="lista">
            <li ><a class="list" target="_blank" href=https://www.facebook.com>Facebook</a></li>
            <li ><a class="list" target="_blank" href=https://twitter.com/home?lang=es>Twitter</a></li>
            <li ><a class="list" target="_blank" href=https://www.instagram.com>Instagram</a></li>
            <li ><a class="list" target="_blank" href=https://www.tiktok.com/es>TikTok</a></li>
            <li ><a class="list" href="./IniciarSesion.html">Iniciar sesion</a></li>     
        </ul>
        <div class="logo2"><img src="./styles/logo.svg" alt="" class="logoimg"></div>
    </div>
        <p class="derechos">Todos los derechos reservados</p>
        
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

<script src="vermas.js"></script>
</body>
</html>