body{
  background-image: url('./imagenes/contacto-fondo.jpg');
}

*{
    margin: 0;
    padding: 0;
}

.encabezado{
    display: flex;
    flex-direction: column;
    background-color: black;
}

.logo{
    width: 200px;
    margin-left: 100px;
}

.publicar{ 
    flex-direction:row;
    float: right;
    position: relative;
    bottom: 40px;
    padding-left: 990px;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

.navbar{
    flex-direction: row;
     border: 2px solid aliceblue;
     width: 100%;   
     padding-left: 50px;
     font-family: 'Montserrat', sans-serif;
     font-family: 'Roboto Condensed', sans-serif;
     font-family: 'Roboto Mono', monospace;
    background-color: black;
}

.na{
    text-decoration: none;
    padding: 1%;
    color: aliceblue;  
}

.nav-link{
    margin: 0;
}
.nav-item{ 
    display: flex;
    width: 100%;
    margin: 0;
}

.formulario{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
    color: aliceblue;
    width: 30%;
    margin: auto;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textarea{
    font-size: 15px;
    color: darkslategray;
    height: 100%;
    vertical-align: middle;
}

.btn-enviar{
    color: #F5F5F5;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: #d4700c;
    width: 100px;
   margin-left: 410px;
}
.footer {
    padding: 20px;
    color: #ffff;
    background-color: black;
}
.redes{
    margin-left: 20%;
}
.lista{
    margin-left: 15%;
}
.list{
    color:white
}
.derechos{
    text-align: center;
}
.logo2{
    flex-direction:row;
    float: right;
    position: relative;
    bottom: 50px;
    padding-left: 10px;
    text-decoration: none;
    color: white;
    font-family: Arial;
    letter-spacing: 2px;
    margin-left: 1000px;
    margin-right: 160px;
    
     
}
.logoimg{
    width: 150px;
    height: 150px;
}
@media (min-width:320px) and (max-width:480px){
    .formulario{
        font-family: 'Montserrat', sans-serif;
        font-family: 'Roboto Condensed', sans-serif;
        font-family: 'Roboto Mono', monospace;
        color: aliceblue;
        width: 250px;
        margin: auto;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .btn-enviar{
        color: #F5F5F5;
        font-size: 15px;
        padding: 10px;
        border-radius: 10px;
        background-color: #d4700c;
        width: 100px;
       margin-left: 150px;
    }


}
 