body{
    
    background-image: url('./imagenes/contacto-fondo.jpg');
    background-size: cover;
	background-attachment: fixed;
}
@font-face {
    font-family: 'garet';
    src: url('./fuentes/Garet-Book.otf');}

#email, #contraseña, .btn-ingresar  {
    border-color: black;
    background-color: rgb(255, 255, 255);
    color: rgb(15, 15, 15);
    padding: 5px;
    box-shadow: 10px 5px 5px black;
}
.formulario{
    color:aliceblue;
    display: flex; 
    flex-direction: column; 
    align-items: center;
     justify-content: center;
     font-family: 'Montserrat', sans-serif;
     font-family: 'Roboto Condensed', sans-serif;
     font-family: 'Roboto Mono', monospace;
}

#email, #contraseña, .btn-ingresar  {
    border-color:1px solid black;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 5px;
    box-shadow: 10px 5px 5px black;

}
.btn-ingresar:hover,.btn-registrate:hover,.btn-olvidaste:hover  {
    border: 5px solid orange;

}


.reg-olv{
    display: flex; 
    flex-direction: row; 
    align-items: center;
}

.btn-registrate{
    display: flex; 
    flex-direction: row; 
    align-items: center;
    margin-left: 85px;
    margin-right: 25px;
    padding:5px;
     
}

.btn-olvidaste{
    display: flex; 
    flex-direction: row; 
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
     
}
@media (min-width:320px) and (max-width:480px){
    .reg-olv{
        display: flex; 
        flex-direction: row; 
        align-items: center;
        color: black;
        border-radius: 2%;
         
    }
    
    .btn-registrate{
        display: flex; 
        flex-direction: row; 
        align-items: center;
        margin-left: 25px;
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: orange;
        color: black;
        border-radius: 2%;
        font-family: "garet";
         
    }
    
    .btn-olvidaste{
        display: flex; 
        flex-direction: row; 
        align-items: center;
        margin-left: 45px;
        margin:25px;
        background-color: orange;
        color: black;
        border-radius: 2%;
        font-family: "garet";}

}

/* <-- contrasaeñna sin que se vea // hacer promt --> */