body{
    background: rgb(218,224,240);
background: radial-gradient(circle, rgba(218,224,240,1) 4%, rgba(248,129,5,1) 100%);
}


h5, h4, h3, li{
    display: flex;
    justify-content: start;
    align-items: start;
    align-content: start;
    margin-left: 60px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

h4{
    background-color: #db2626;
    width: 85px;
}

li{
    list-style-type: none;
}

.c1o, .c2o{
    position: static;
    margin-left: 260px;
}

.focus{
    color: black;
}
.footer {
    padding: 20px;
    color: #ffff;
    background-color: black;
}
.redes{
    margin-left: 20%;
}
.lista{
    margin-left: 15%;
}
.list{
    color:white
}
.derechos{
    text-align: center;
}