
.contenedor{
    display: flex;
    background-color: orange;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.sobre{  
    border: 2px solid black ;
    background-color: orange;
    border-radius: 2%;
    text-align: justify;
}

.sobre:hover{
    border: 3px solid #f1ededa8;
}

.imgsn{
    width: 15%;
    float: left;
    border-radius: 30%;
}
.sobren{
    margin: 0;
    padding: 0;
    background-color: orange;
    text-align: center;
}
#gaston{
    width: 50%;
}
#gime{
    width: 50%;
}
#fabri{
    width: 50%;
}
#cintia{
    width: 50%;
}
#bruno{
    width: 50%;
}
.logoutn{
   width: 40%; 
}
