*{
    margin: 0;
    padding: 0;
}

.productos {
    margin: 30px 15px;
    padding: 0 15px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.producto {
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    width: 20%;
    box-shadow: 5px 5px 5px 5px  #000000e3;
    padding: 10px;
    border-radius: 5%;
}

.producto:hover {
    border: 3px solid #f1ededa8;
}

.botonn{
    margin: 10px 0;
    padding: 15px ;
    border-radius: 2%;
    cursor: pointer;
    color: #404058;
    border: none;
}

.botonn:hover {
    border: 2px solid violet;
}

.footer {
    padding: 20px;
    color: #ffff;
    background-color: black;
}
.redes{
    margin-left: 15%;
}
.lista{
    margin-left: 15%;
}
.list{
    color:white
}
.derechos{
    text-align: center;
}
.buscarAutos{
    display: flex;
    margin-top: 0;
    
    background-color: orange;
    flex-wrap: wrap;
    align-items: center;
}

#FormAutos{
    box-sizing: border-box;
    align-items: center ;
    height: 15px;
}
#body{
    background-color:#ffffff;
}
#TituloAuto{
    background-color: orange;
    text-align: center;
}
#primero{
    background-color: #ffffff;
    box-sizing: border-box;
    align-items: center ;
    height: 15px;
    text-align: center;
}