*{
    margin: 0;
    padding: 0;
}

.encabezado{
    display: flex;
    flex-direction: column;
    background-color: black;
    
}

.logo{
    width: 200px;
    margin-left: 100px;
}

.publicar{ 
    flex-direction:row;
    float: right;
    position: relative;
    bottom: 60px;
    padding-left: 10px;
    text-decoration: none;
    color: white;
    font-family: "arial black";
    font-size: large;
    letter-spacing: 1px;
    margin-left: 1350px;
    margin-right: 150px;
    border: 2px solid orange;
    
}

.publicar:hover{
    box-shadow: grey;
    pointer-events: painted;
    color: orange;
}
@media (min-width: 320px) and (max-width:480px){

    .publicar{ 
        flex-direction:row;
        float: right;
        position: relative;
        bottom: 15px;
        padding-left: 5px;
        text-decoration: none;
        color: white;
        font-family: "Arial";
        font-size: medium;
        letter-spacing: 2px;
        margin-left: 110px;
        margin-right: 110px;
        border: 2px solid orange;}
    
    .publicar:hover{
        box-shadow: grey;
        pointer-events: painted;
        color: orange;}
        .logo{
            width: 200px;
            margin-left: 80px;
        }

    
}
.navbar{
    flex-direction: row;
     border: 2px solid aliceblue;
     width: 100%;   
     padding-left: 50px;
     font-family: 'Montserrat', sans-serif;
     font-family: 'Roboto Condensed', sans-serif;
     font-family: 'Roboto Mono', monospace;
    background-color: black;
}

.na{
    text-decoration: none;
    padding: 1%;
    color: aliceblue;
    font-family: "wadik";
    
}

.nav-link{
    margin: 0;
}
.nav-item{ 
    display: flex;
    width: 100%;
    margin: 0;
}
li{
    list-style-type: none;
}