*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'wadik';
    src: url('./fuentes/Wadik.otf');
}
@font-face {
    font-family: 'garet';
    src: url('./fuentes/Garet-Book.otf');}
h1{
    font-family: "wadik";
}
h2{
    font-family: "wadik";
}
h3{
    font-family: "wadik";
}
.productos {
    width: 100%;
    margin-top: 15px;
    margin-left: 0;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.producto {
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    width: 300px;
    box-shadow: 5px 5px 5px 5px  #000000e3;
    padding: 10px;
    border-radius: 5%;
    background-color: white;
}

main{
    margin: 0;
    padding: 0;
    background-color: orange;
}
.redes{
    margin-left: 150px;
}
.footer {
    padding: 20px;
    color: #ffff;
    background-color: black;
}

.lista{
    margin-left: 100px;
    display: flex;
    width: 200px;
    flex-direction: column;
    
}
.list{
    color:white;
    display: block;
}
.footerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
}
.logo2{
    flex-direction:row;
    float: right;
    position: relative;
    bottom: 50px;
    padding-left: 10px;
    text-decoration: none;
    color: white;
    font-family: Arial;
    letter-spacing: 2px;
    margin-left: 1000px;
    margin-right: 160px;
    
     
}
.logoimg{
    width: 150px;
    height: 150px;
}



.producto:hover {
    border: 3px solid #f1ededa8;
}

.botonn{
    margin: 10px 0;
    padding: 15px ;
    border-radius: 2%;
    cursor: pointer;
    color: #000000;
    background-color: #c2bdb5;
    border: none;
}

.botonn:hover {
    border: 4px solid black;
}

.derechos{
    text-align: center; 
}

.buscarAutos{
    display: flex;
    margin-top: 0;
    
    background-color: orange;
    flex-wrap: wrap;
    align-items: center;
}

#FormAutos{
    box-sizing: border-box;
    align-items: center ;
    height: 15px;
    background-color: orange;
}
#TituloAuto{
    background-color: orange;
    text-align: center;
}
#primero{
    background-color: #ffffff;
    box-sizing: border-box;
    align-items: center ;
    height: 15px;
    text-align: center;
}
.TodosLosAutos{
    text-align: center;
    background-color: orange;
}

.FormPublicar{
    background-color: rgba(255, 166, 0, 0.398);
    color: rgb(0, 0, 0);
    padding:3em;
    align-items: center;
    text-align: left; 
    font-size: 1.5em ;
    
}

#idform{
    background-color: orange;
    text-align: center;
    padding: 1em ;
}

.vermas{
        
        text-align: center;
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 28px;
    
}
.vermas:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
@media (min-width: 320px) and (max-width:480px){

    .productos{
        margin-top: 50px ;
        margin-left: 2px;
    }
    .footer {
        padding: 5px;
        color: #ffff;
        background-color: black;
    }
    .redes{
        margin: 30px;
    }
    .lista{
        margin-left: 10px;
        display: flex;
        width: 150px;
        flex-direction: column;
        
    }
    .list{
        width: 100px;
        color:white;
        display: block;}
    .footerContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px;
    }
    .logo2{
        flex-direction:row;
        float: right;
        position: relative;
        bottom: 15px;
        padding-left: 5px;
        text-decoration: none;
        color: white;
        font-family: Arial;
        letter-spacing: 2px;
        margin-left: 50px;
        margin-right: 30px;
            
             
    }
    .logoimg{
        width: 100px;
        height: 100px;
    }
    .FormPublicar{
        background-color: rgba(255, 166, 0, 0.397);
        color: rgb(0, 0, 0);
        padding:5px;
        align-items: center;
        text-align: left; 
        font-size: 16px ;}
      
}